<div class='cd-timeline-block type-{{entry.type}}' *ngIf="entry">
  <div class='cd-timeline-img cd-picture'>
    <img src='{{icon}}' alt='{{entry.type}}' />
  </div>
  <div class='cd-timeline-content'>
    <p></p>
    <h2>{{header2}}</h2>
    <h3>{{header3}}</h3>
    <h4 *ngIf="header4">{{header4}}</h4>
    <br>
    <a href="{{entry.link}}" target="_blank" class='cd-read-more' rel='noopener' *ngIf="entry.link">
      {{entry.linkText}}
    </a>
    <span class="cd-date" *ngIf="showDate">
      {{displayDate}}
    </span>
  </div>
</div>
