<router-outlet></router-outlet>

<header>
  <img src='assets/felker400.png' class='profile' alt="Photo of Nick Felker" />
  <h1>Nick Felker</h1>
  <table>
    <tr>
        <td><h2>Electrical &amp; Computer Engineer</h2></td>
        <td><h2>&mdash;</h2></td>
        <td><h2>Googler</h2></td>
        <td><h2>&mdash;</h2></td>
        <td><h2>Pokémon Master</h2></td>
    </tr>
  </table>
  <ul id='links'>
    <li class="filter" (click)="populate()">All</li>
    <li class="filter" *ngFor="let category of categories" (click)="populate(category)">
      {{category}}
    </li>
    <li class='filter' (click)="contact()">Contact</li>
  </ul>
</header>

<h1 id='view_x_items'>
  {{count}} Items
</h1>

<section id='cd-timeline' class='cd-container' *ngIf="showTimeline">
  <timeline-block *ngFor="let entry of filter; index as index" [entry]="entry" [index]="index">
  </timeline-block>
</section>

<section id='contact-me' class='cd-container' *ngIf="!showTimeline">
  <ul>
    <li *ngFor="let entry of contacts">
      <a target="_blank" href="{{entry.link}}">
        <img src="{{entry.icon}}" alt="{{entry.type}}" />
      </a>
    </li>
  </ul>
  <a href='assets/resume.pdf' target="_blank"><img src='assets/pdf.svg' id="resume" /></a>
</section>

<footer>
  Website format based on <a href='https://codyhouse.co/gem/vertical-timeline/'>Vertical Timeline from CodyHouse</a>.
  <br>
  Icons sourced from <a href='https://materialdesignicons.com/'>Material Design Icons</a>.
  <br>
  Website can be found on <a href='https://github.com/Fleker/Fleker.github.io'>GitHub</a>.
  <br>
  <a rel="me" href="https://mastodon.world/@fleker" style="display: none;">
    My Mastodon
  </a>
</footer>
