/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
  background-color: green;
  padding-left: 4px;
  padding-right: 4px;
  transition: all 0.3s;
}

a:hover {
  background-color: #81c784;
}

#contact-me a {
  background: none;
  transition: all 0.3s;
}

#contact-me a:hover {
  border-bottom: solid 1px #388e3c;
  background: #a5d6a7;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-weight: bold;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  min-height: 200px;
  /* line-height: 200px; */
  text-align: center;
  background: #334930;
}
header h1 {
    color: white;
    font-size: 18px;
    font-size: 1.125rem;
    margin-top: 8px;
    line-height: 1em;
}
header h2 {
    margin-top: 16px;   
    letter-spacing: -1px;
    line-height: 1em;
}
header ul {
    margin-top: 16px;  
    line-height: 1em;
}
header img {
    height: 60px;
    border-radius: 100px;
    margin-top: 8px;
}
@media only screen and (min-width: 1170px) {
  header {
    min-height: 300px;
    /* line-height: 300px; */
  }
  header h1 {
      font-size: 24px;
      font-size: 1.5rem;
      padding-top: 16px;
  }
    header h2 {
        letter-spacing: inherit;
    }
    header img {
        height:160px;
        border-radius:100px;
        margin-top: 8px; 
    }
}

#view_x_items {
    text-align: center;
    margin-top: 8px;
    margin-bottom: -49px;
    border-bottom: solid 3px #d7e4ed;
}   

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

ul#links li {
    cursor: pointer;
    display: inline-block;
    margin-right: 16px;
    text-transform: uppercase;
}

footer {
    margin-left: 8px;
    padding-bottom: 8px;
    margin-top: 80px;
}

#contact-me li {
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 8px;
}

#contact-me {
    margin-top: 60px;
    margin-left: auto;
    margin-bottom: 40px;
    text-align: center;
}

#contact-me img {
    background-color: #09f;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

#resume {
  width: 200px !important;
  height: 200px !important;
  padding: 12px !important;
  margin-top: 24px !important;
}

li.filter, h2 {
    color: #81C784;
    transition: all 0.15s;
}

li.filter:hover {
  color: #dedede;
}

.cd-date, #view_x_items {
  color: #2B732E;
}

header table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header td {
    width: 20%;
}

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

@media only screen and (min-width: 1170px) {
  timeline-block {
    transition: 0.6s all;
    margin: 4em 0;
  }
  timeline-block.bounce-in {
    visibility: visible;
    opacity: 1;
  }
  timeline-block.odd.bounce-in {
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
